@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.gradient-text {
  @apply bg-gradient-to-r from-blue-600 to-purple-400 inline-block text-transparent bg-clip-text;
}

.container {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

@media (min-width: 500px) {
  .container {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

.carasul-container > button {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .carasul-container > button {
    display: none !important;
  }
}

.break-words {
  word-break: break-word;
}

.word-break-all {
  word-break: break-all;
}

.bg-gradient-2,
.bg-gradient-hover:hover {
  background: linear-gradient(to right, #2D64EC, #BA83FC);
}

.button_gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1.25rem;
  border-radius: 4px;
  transition: background 0.3s ease;
  background: linear-gradient(to right, #395bef, #5c28d5);
  color: white;
}

.button_gradient:hover {
  background: linear-gradient(to right, #2a4ce2, #4d19c7);
}

.button_cancel {
  padding: 0.5rem 1.25rem;
  outline: none;
  border-radius: 4px;
  background-color: #ef4444;
  color: white;
  transition: background-color 0.3s ease;
}

.button_cancel:hover {
  background-color: #dc2626;
}

.transition-transform {
  transition: transform 0.3s;
}

.transform {
  transform: translateY(0);
}

.transform.translate-y-full {
  transform: translateY(100%);
}

::-webkit-file-upload-button {
  color: #ffffffe5;
  padding: 8px;
  background: black;
  border: none;
}

.corner-border {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
}

.table_tr {
  background-color: white;
  border-bottom: 1px solid #e5e7eb;
  color: #121213;
  transition: background-color 0.2s ease;
}

.table_tr:hover {
  background-color: #f9fafb;
}

/* date picker */
.rdrDateDisplay {
  display: none !important;
}

.rdrMonth {
  width: 20.667em !important;
}

.rdrYearPicker {
  display: none;
}

.rdrMonthPicker {
  background-color: white;
  border: none;
}

.rdrMonthPicker::before,
.rdrMonthPicker::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}